@import "katex/dist/katex.min.css";

/* Navbar - reaguje na tmavý/svetlý režim */
.navbar {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.navbar .nav-link {
  color: var(--bs-body-color);
}

.navbar .nav-link:hover {
  color: var(--bs-emphasis-color);
}

/* Sidebar */
#sidebar-wrapper {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-right: 1px solid var(--bs-border-color);
}

/* Položky v sidebar-e (list-group) */
#sidebar-wrapper .list-group-item {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

#sidebar-wrapper .list-group-item:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-emphasis-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px; /* trochu širšie kvôli ikonám */
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-gray-400);
  border-radius: 30px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-sizing: border-box;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bs-white);
  border-radius: 50%;
  transition: transform 0.4s;
  z-index: 2; /* krúžok bude nad ikonami */
}

input:checked + .slider {
  background-color: var(--bs-primary);
}

input:checked + .slider:before {
  transform: translateX(30px); /* posun doprava */
}

/* ikonky */
.slider .icon {
  height: 16px;
  width: 16px;
  z-index: 1;
}

.slider .sun {
  margin-left: 2px;
}

.slider .moon {
  margin-right: 2px;
}

.language-flag {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border: 1px solid var(--bs-gray-400);
  border-radius: 2px;
  /*aaa*/
}

/* ====== Global Mobile Fixes ====== */
html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  /* Zakáže "naťahovanie" za okraj obrazovky na Androide/iOS */
  overscroll-behavior-x: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* scrolluje iba vnútorný obsah */
  height: 100%;
}

/* ====== Page content ====== */
#page-content-wrapper {
  min-width: 100vw;
  /* Pridaný priestor, aby sa posledné kotvy (anchors) dali hladko zoscrollovať nahor */
  padding-bottom: 60vh;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
